.idea/
projet/src_deploy/__pycache__/
Idkit.log
docs/source/_static
docs/source/_templates
docs/source/*.rst
projet/__pycache__/
projet/src/__pycache__
projet/tests/__pycache__
env/
projet/idkit/__pycache__